body {
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    background: linear-gradient( #337f44, black);
    background-attachment: fixed;
    font-family: Lato;
}

h1, h2, h3 {
    margin: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#home {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2em;   
}

#home-title {
    font-size: 4em;
}

#quotes {
    margin-top: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 800px;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 20px #888);
    min-height: 100px;
    border-radius: 10px;
    border: solid #9f4fff 5px;
    margin: 20px 0;
    background: #EEE;
    color: black;
    animation: pop 1s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

.bottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.author {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    justify-self: flex-end;
}

.name {
    font-style: oblique;
}

#create-button {
    position: absolute;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient( white, #BBB);
    cursor: pointer;
    left: 2em;
    transition: transform .25s;
}

#create-button:hover {
    transform: translateY(-5px);
}

/* ul img {
    box-sizing: border-box;
    border-radius: 10px;
    border: solid red 5px;
    background: #EEE;
    padding: 10px;
    width: 33%;
    height: auto;
    animation: pop 1s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
} */

@keyframes pop {
    0% {
        transform: translateX(-150%);
    }
    0%, 25% {
        opacity: 0;
    }
}

#create-button a
{
    text-decoration: none;
    color : black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 800px;
}

form .row {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 500px;
}

.row .col div {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

textarea#joke_quote {
    background: transparent;
    border: none;
    border-bottom: solid 3px white;
    width : 500px;
    resize: none;
    height: 50px;
    color: white;
    animation: pop 3s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

input {
    background: transparent;
    border: none;
    border-bottom: solid 3px black;
    color: white;
    padding: 10px 5px;
    animation: pop 5s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

.btn {
    margin: 10px 0;
    animation: pop 1s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

select#joke_category
{
    background: transparent;
    border: none;
    border-bottom: solid 3px white;
    color: white;
    padding: 10px 5px;
    animation: pop 5s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

input#joke_firstname {
    background: transparent;
    border: none;
    border-bottom: solid 3px white;
    color: white;
    padding: 10px 5px;
    animation: pop 5s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

.styleForm {
    margin : 50px;
}
label {
    color : white;
    margin : 10px;
}

input#joke_lastname {
    background: transparent;
    border: none;
    border-bottom: solid 3px white;
    color: white;
    padding: 10px 5px;
    animation: pop 5s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

select#joke_category
{
    background: transparent;
    border: none;
    border-bottom: solid 3px white;
    color: white;
    padding: 10px 5px;
    animation: pop 5s cubic-bezier(0.075, 1.15, 0.75, 1) forwards;
}

h4.like
{
    margin: 20px;
}

h4.dislike
{
    margin: 35px;
}

.title
{
    text-align: center;
    color : white;
}

.button_next
{
    margin : 40px;
}

.faIcon {
    cursor: pointer;
    text-decoration: none;
    color: #337f44;
}

.logoWild {
    position: absolute;
    top: 15vh;
    right: 5vw;
    object-fit: contain;
    transform: rotate(35deg);
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav li {
    padding: 0;
}

a.filterLink {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;

}
li.filter {
    background: none;
    border : none;
}