{% extends 'base.html.twig' %}

{% block title %}New Joke{% endblock %}

{% block body %}
    <div class="styleForm">
        <h1 class="title">Create new Joke</h1>

        {{ include('joke/_form.html.twig') }}

        <a href="{{ path('joke_index') }}" class="button_next"><button>back to list</button></a>
    </div>
{% endblock %}
