{% extends 'base.html.twig' %}

{% block title %}New Joke{% endblock %}

{% block body %}
    <div class="styleForm">
        <h1 class="title">Create new Joke</h1>
        <img src="/build/images/sylvain.d7dacd75.png" id="sylvain" width="48"/>
        <img src="/build/images/ayoub.1a928e84.png" id="ayoub" width="48"/>
        {{ include('joke/_form.html.twig') }}

        <a href="{{ path('joke_index') }}" class="button_next"><button>back to list</button></a>
    </div>
{% endblock %}
